main{
    background-color: wheat;
}
body{
    background-color: wheat !important;
}

.box-border {
    border-radius: 25px;
}

:root {
    --bs-body-font-family: sans-serif; 
}

.box-border-bottom {
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
}

pre code {
    color:#e83e8c !important;
}