main{
    background-color: wheat;
}
body{
    background-color: wheat !important;
}

.box-border {
    border-radius: 25px;
}

.border-shadow-style{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: antiquewhite;
}

:root {
    --bs-body-font-family: sans-serif; 
}

.box-border-bottom {
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
}

pre code {
    color:#e83e8c !important;
}

.comment{
    color:rgb(2, 167, 2);
}